#root, html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-size: 400% 400%;
    animation: gradient 45s ease infinite;
    background-image: linear-gradient( -50deg, #000 0%, #44107a 55%, #ff1361 66%, #44107a 76%, #000 100% );
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.mainWrapper {
    max-width: 1000px;
    margin: auto;
    background: rgba(0, 0, 0, .5);
    padding: 20px;
    border-radius: 20px;
}
